.olControlZoomPanel div {
    background-image: url(../../images/zoom-panel-NOALPHA.png);
}
.olControlPanPanel div {
    background-image: url(../../images/pan-panel-NOALPHA.png);
}
.olControlEditingToolbar {
    width: 200px;
}

