<div id="locationfinders-app" class="accordion" data-ng-controller="LocationFindersCtrl" data-ng-init="init()">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="locationfinders-app" href="#find-location" data-ng-class="{true: 'location-load',false: ''}[running]">
        Find a certain location. Just enter 'New York' or 'Vienna'!
      </a>
    </div>
    <div id="find-location" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div>
          <input type="text" id="str" data-ng-model="location.str">
        </div>
      </div>
    </div>
  </div>
</div>