<div id="queryresults-app" class="accordion" data-ng-controller="QueryResultsCtrl">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="queryresults-app" href="#query-results">
        MeetUp Open Events near by you.
      </a>
    </div>
    <div id="query-results" class="accordion-body collapse in">
      <div class="accordion-inner">
        <p data-ng-show="results.length==0" style="width: 100%;text-align:center;">No results! Wait... :-(</p>
        <p data-ng-show="results.length>0" style="width: 100%;text-align:center;">{{results.length}} found! :-).
          <br><br><span style="font-weight:bold;text-decoration:underline;">Tip:</span> Press Shift and select some events!
        </p>
        <div class="table table-striped" data-ng-show="results.length>0" data-add-slim-scroll>
          <table>
            <tbody>
                <tr data-ng-repeat="result in results" data-ng-class="{true: 'event-selected',false: ''}[result.selected]">
                  <td>
                        <p>{{result.name}}</p>
                        <p>{{result.venue_name}}</p>
                        <p>{{result.venue_address_1}}&nbsp;{{result.venue_city}}</p>
                  </td>
                  <td><a href="{{result.event_url}}" target="_blank">Go to meetup!</a></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>