<div id="queryresults-app" class="accordion" data-ng-controller="QueryResultsCtrl">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="queryresults-app" href="#query-results">
        The results of your spatial query:
        <i class="icon-black" data-ng-class="{true: 'icon-repeat',false: ''}[running]"></i>
      </a>
    </div>
    <div id="query-results" class="accordion-body collapse in">
      <div class="accordion-inner">
        <span data-ng-show="results.length==0">No results!</span>
        <span data-ng-show="results.length>0">{{results.length}} found in the map</span>
        <div class="table table-striped" data-ng-show="results.length>0">
          <table>
            <tbody>
            <tr data-ng-repeat="result in results">
              <td>{{result.name}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>